*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: end;
  width: 1140px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 711px;
  margin-right: 30px;
}

.result__video-container {
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: inline-grid;
  grid-template-columns: 225px 212px 194px;
  column-gap: 40px;
  width: 711px;
}

.content__details {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 399px;
  row-gap: 26px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  width: 399px;
  overflow: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: fill;
  object-position: right;
}

.content__video-card-description-container {
  flex: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  width: 100%;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding: 2.5px 0px;
  appearance: none;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 196px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: lighter;
  line-height: 16, 2px;
  line-clamp: 2;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid currentColor;
  background-color: transparent;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 34px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.more-button {
  display: flex;
  width: 100%;
  min-height: 34px;
  justify-content: center;
  align-items: center;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0px 3px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
